/*development*/
#development
{
    text-align: center;
}
/*
body{

    /*background-image: url("QingFlag1.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: yellow;
    color: blue;
}

#title
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: center;
}
#introduction
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    text-align: left;
}
*/